/* styles.css */

html {
	width: 100%;
	height: 100%;
}
.background {
	background-color: black;
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
}
body.cover {
	background-color: black;
	background-image: url(../img/cover.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
}
h1 {
	font-size: clamp(2rem, 8vw, 5rem);
	font-family: "Baskervville SC", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	color: #eef2db;
}
p {
	font-size: clamp(1rem, 4vw, 2.5rem);
	font-family: "Limelight", sans-serif;
	font-weight: 350;
	font-style: normal;
	text-align: center;
	color: #eef2db;
}
.pop_room {
	display: flex;
	width: 100%;
	max-width: 30rem;
	height: 30rem;
	margin: 1rem auto;
	justify-content: around;
	background-image: url(../img/Question1/pop_room.png);
	background-size: cover;
	background-position: center;
	border: 10px solid #8aa8a6;
	border-radius: 50px;
}
.country_room {
	display: flex;
	width: 100%;
	max-width: 30rem;
	height: 30rem;
	margin: 1rem auto;
	justify-content: around;
	background-image: url(../img/Question1/country_room.png);
	background-size: cover;
	background-position: center;
	border: 10px solid #8aa8a6;
	border-radius: 50px;
}
.rock_room {
	display: flex;
	width: 100%;
	max-width: 30rem;
	height: 30rem;
	margin: 1rem auto;
	justify-content: around;
	background-image: url(../img/Question1/rock_room.png);
	background-size: cover;
	background-position: center;
	border: 10px solid #8aa8a6;
	border-radius: 50px;
}
.hiphop_room {
	display: flex;
	width: 100%;
	max-width: 30rem;
	height: 30rem;
	margin: 1rem auto;
	justify-content: around;
	background-image: url(../img/Question1/hiphop_room.png);
	background-size: cover;
	background-position: center;
	border: 10px solid #8aa8a6;
	border-radius: 50px;
}
.my-custom-row {
     width: 100%;
	 height: 100px;
}

.word {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(8rem, 32vw, 20rem);
	font-family: "Baskervville SC", serif;
	font-optical-sizing: auto;
	font-weight: 1400;
	font-style: normal;
	text-align: center;
	color: #1a1a1a;
	background-color: #eef2db;
	width: 100%;
	max-width: 30rem;
	height: 30rem;
	margin: 1rem;
	border: 10px solid #8aa8a6;
	border-radius: 50px;

}
